body {
  padding: 0;
  margin: 0;
}
main {
  padding: 0 25px;
}
@keyframes ufo-fly-1 {
  0% {
    left: 110%;
    top: 10%;
  }
  25% {
    left: 80%;
    top: 50%;
  }
  50% {
    left: 50%;
    top: 30%;
  }
  75% {
    left: 30%;
    top: 40%;
  }
  100% {
    left: -10%;
    top: 10%;
  }
}
@keyframes ufo-fly-2 {
  0% {
    left: 110%;
    top: 5%;
  }
  25% {
    left: 90%;
    top: 70%;
  }
  50% {
    left: 55%;
    top: 35%;
  }
  75% {
    left: 30%;
    top: 45%;
  }
  100% {
    left: -10%;
    top: 20%;
  }
}
@keyframes ufo-fly-3 {
  0% {
    left: 110%;
    top: 35%;
  }
  25% {
    left: 65%;
    top: 45%;
  }
  50% {
    left: 40%;
    top: 25%;
  }
  75% {
    left: 10%;
    top: 50%;
  }
  100% {
    left: -10%;
    top: 5%;
  }
}
@keyframes ufo-fly-4 {
  0% {
    left: 110%;
    top: 50%;
  }
  25% {
    left: 95%;
    top: 10%;
  }
  50% {
    left: 60%;
    top: 40%;
  }
  75% {
    left: 25%;
    top: 45%;
  }
  100% {
    left: -10%;
    top: 70%;
  }
}
@keyframes ufo-fly-5 {
  0% {
    left: 110%;
    top: 60%;
  }
  25% {
    left: 50%;
    top: 20%;
  }
  50% {
    left: 40%;
    top: 40%;
  }
  75% {
    left: 15%;
    top: 70%;
  }
  100% {
    left: -10%;
    top: 50%;
  }
}
.game {
  position: relative;
  width: 90%;
  height: 50vw;
  margin: 0 auto;
  background: #3ac0ff url("../img/bg_body.png") no-repeat bottom;
  background-size: 100% 80%;
  overflow: hidden;
  cursor: url("../img/aim.png"), default;
}
.game-shield {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.game-shield-txt {
  color: white;
  font-size: 45px;
  font-weight: bold;
}
.game-data {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 2vw;
  left: 0;
  width: 100%;
}
.game-data-count,
.game-data-score,
.game-data-time {
  font-size: 2vw;
  font-weight: bold;
  color: white;
}
.game-data-score:before {
  content: 'Сбитые НЛО: ' counter(score);
  font-size: 3vw;
}
.form {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -75px 0 0 -150px;
  width: 300px;
  height: 150px;
  padding: 0 15px 15px 10px;
  color: rgba(0, 0, 0, 0.75);
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 6px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  z-index: 3;
  cursor: default;
}
.form h2 {
  text-align: center;
}
.form-username,
.form-btn {
  display: block;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  outline: none;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.75);
  width: 100%;
}
.form-username {
  padding: 5px 7px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
  box-sizing: border-box;
}
.form-btn {
  font-weight: bold;
  padding: 5px 0;
  background-color: rgba(0, 0, 0, 0.15);
}
.form-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.ufo {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: url("../img/ufo.png") no-repeat;
  background-size: contain;
  cursor: url("../img/aim.png"), default;
}
.ufo-shotdown {
  transform: rotate(270deg);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  counter-increment: score;
}
.display-none {
  display: none;
}
/*# sourceMappingURL=shooting_styles_2.css.map */